In [1]:
# Indices

import pandas as pd
import numpy as np
from utils.quilt import load_datasets

"""
year = range(2000,2035)

fuel = [     
    "sähkö",
    "lämpö ja kylmä",
    "maakaasu",
    "nestekaasu",
    "lämmitysöljy",
    "diesel",
    "bensiini",
    "ruskohiili",
    "hiili",
    "muut fossiiliset (sis. turve)",
    "kasviöljy",
    "biopolttoaine",
    "muu biomassa",
    "aurinkoterminen",
    "maalämpö",
    "tuulivoima",
    "vesivoima",
    "aurinkosähkö"
]

emission = [
    "hiilidioksidi",
    "metaani",
    "typpidioksidi",
    "typpioksiduuli",
    "hiilimonoksidi",
    "hiukkaset",
    "rikkidioksidi",
    "typenoksidit",
    "fluorihiilivedyt",
    "perfluorihiilivedyt",
    "rikkiheksafluoridi",
    "typpitrifluoridi",
    "F-kaasut",
    "pienhiukkaspäästö",
    "kasvihuonekaasupäästö"
]

sector = [
    "rakennukset",
    "kunnalliset rakennukset, laitteistot/tilat",
    "ei-kunnalliset rakennukset, laitteistot/tilat",
    "asuinrakennukset",
    "julkinen valaistus",
    "teollisuus, ei-ETS",
    "teollisuus, ETS (ei suositella)",
    "kuljetus",
    "kunnalliskalusto",
    "julkinen liikenne",
    "yksityinen ja kaupallinen liikenne",
    "energia",
    "paikallinen sähköntuotanto",
    "paikallinen lämmön ja kylmän tuotanto",
    "vesi",
    "jätteet",
    "maankäytön suunnittelu",
    "maatalous ja metsänhoito (sis. kalanjalostamot)",
    "ympäristö ja biodiversiteetti",
    "terveys",
    "pelastuspalvelut ja hätäpalvelut",
    "turismi",
    "muu sektori",
    "sopeutuminen"
]

subsector_of = [0,0,0,0,0,0,0,7,7,7,7,11,11,11,14,15,16,17,18,19,20,21,22,23]
"""

TREATMENT = ['solid waste disposal', 'composting', 'digestion', 'incineration', 'waste water treatment']

SOURCE = ['in - in', 'in - out', 'out - in']

#df.columns from Statistics Finland
"""Index(['Rakennuksen lämmitysaine', 'Alue', 'Vuosi',
       'Rakennuksen kerrosala (m2) Yhteensä',
       'Rakennuksen kerrosala (m2) Erilliset pientalot',
       'Rakennuksen kerrosala (m2) Rivi- ja ketjutalot',
       'Rakennuksen kerrosala (m2) Asuinkerrostalot',
       'Rakennuksen kerrosala (m2) Liikerakennukset',
       'Rakennuksen kerrosala (m2) Toimistorakennukset',
       'Rakennuksen kerrosala (m2) Liikenteen rakennukset',
       'Rakennuksen kerrosala (m2) Hoitoalan rakennukset',
       'Rakennuksen kerrosala (m2) Kokoontumisrakennukset',
       'Rakennuksen kerrosala (m2) Opetusrakennukset',
       'Rakennuksen kerrosala (m2) Teollisuusrakennukset',
       'Rakennuksen kerrosala (m2) Varastorakennukset',
       'Rakennuksen kerrosala (m2) Muut rakennukset'],
      dtype='object')
"""

# From Statistics Finland
BUILDING = ['detached houses','row houses','apartment buildings',
              'commercial buildings','office buildings','transport buildings','health care buildings',
              'congregation buildings','educational buildings','industrial buildings','storage buildings',
              'other buildings'
    ]

# From SECAP reporting
BUILDING_SHORT = ['residential', 'commercial and institutional', 'industry and construction', 'energy industries']

def buildings():
    df = pd.DataFrame({
        'building':BUILDING,
        'building_short':['residential'] * 3 + ['commercial and institutional'] * 6 + ['industry and construction'] * 2 +
        ['commercial and institutional'],
        'result':1
    }).set_index(['building','building_short'])
    return df

FINAL_USE = ['consumer electricity','district heating','gas', 'geothermal', 'heating electricity',
            'industry and machinery','oil heating', 'other heating','road transport','coal','wood heating']

def scopes_of_uses():
    df = pd.DataFrame({
        'final_use':FINAL_USE,
        'scope':['2','2','2','2','2','1','1','1','1','1','1'],
        'result':1
    }).set_index(['final_use','scope'])
    return df

ENERGY_CLASS = ['old', 'new', 'low-energy']

MODE = ['walking', 'cycling', 'private car', 'bus', 'truck', 'van', 'tram', 'metro', 'train', 'flight', 'boat', 'machinery',
        'motorcycle', 'microcar','moped']

MODE_SHORT = ['road','rail','marine','aviation','off-road']

def modes():
    df = pd.DataFrame({
        'mode':MODE,
        'mode_short':['road']*6 + ['rail']*3 + ['marine'] + ['aviation'] + ['off-road'] + ['road']*3,
        'scope':['2','2','1','1','1','1','2','2','2','1','1','1','1','1','1'],
        'result':1
    }).set_index(['mode','mode_short','scope'])
    return df

ANIMAL = ['cow', 'pig', 'sheep']

LANDUSE = ['forest', 'field', 'turf field', 'peatland']

SCOPE = ['1','2','3']

GAS = ['CO','HC','NOx','PM2.5','CH4','N2O','SO2','CO2', 'CO2e'] # Add PM2.5 and other gases relevant for other impacts

def municipality():
    df = pd.DataFrame({
        'municipality':['Tampere'],
        'result':1
    }).set_index(['municipality'])
    return df

# https://ghgprotocol.org/sites/default/files/standards/GHGP_GPC_0.pdf Figure 2
def gpc():
    tmp = ['gpc','basic','scope','name']
    df = pd.read_csv("gpc_classification.csv")[tmp].set_index(tmp)
    df['result'] = 1
    return df

# https://en.wikipedia.org/wiki/Global_warming_potential GWP FOR 20 YEARS
def global_warming_potential():
    df = pd.DataFrame({'gas':GAS, 'result':[0,0,0,0,86,268,0,1,1]})
    return df.set_index('gas')

# A test function to replace groupby for making sure that Iter column is not dropped even if it is not explicitly mentioned.
# This can be used if we end up using probabilistic variables.
# df is the variable dataframe and keep is a list of index column names to keep in the outcome.

def grupby(df, keep):
    out = list(set(df.columns) & set(keep+['Iter']))
    out = df.groupby(out)
    return out

def fillna(object, cols):
    ind = object.index.names
    out = object.reset_index()
    if cols != [None]:
        for i in list(cols):
            a1 = out[out[i].notna()]
            a2 = out[out[i].isna()].drop(i, axis=1).assign(tmp=1)
            addition = pd.DataFrame({i:pd.unique(a1[i]), 'tmp':1})
            a2 = a2.merge(addition).drop('tmp',axis=1)
            out = a1.append(a2)
    if ind != [None]:
        out = out.set_index(ind)
    return out

#display(grupby(ghg_emissions_from_heating_of_stationary_sources().assign(Iter = 1), ['scope']).sum().reset_index())
display(scopes_of_uses())

                              result
final_use              scope
consumer electricity   2           1
district heating       2           1
gas                    2           1
geothermal             2           1
heating electricity    2           1
industry and machinery 1           1
oil heating            1           1
other heating          1           1
road transport         1           1
coal                   1           1
wood heating           1           1

In [2]:
#tst = load_datasets("jtuomsto/cnh/power_consumption_example")

# datasets from quilt/jyrjola
#
# aluesarjat: Helsingin seudun väestö-, rakennus- ja tulotilastoja 10 tiedostoa
# tst = load_datasets('jyrjola/energiaatlas/buildings') # rakennuskantarekisteri? 77267 rows × 109 columns
# energiateollisuus: kaukolämmön ja sähkön tuotannon tilastoja ja polttoaineen kulutus
#tst = load_datasets('jyrjola/energiateollisuus/electricity_production_hourly') # 78888 rows × 11 columns, 2010-2018
# fingrid: sähkönkulutus ja siirto 2 tiedostoa, esim. 3 min välein
# fingrid_hourly: sähkönkulutus ja hinta, 3 tiedostoa
# fingrid_realtime: 1 tiedosto power, 3/2019
# fmi: 3 tiedostoa: heating_degree_days, solar_radiation_kumpula, solar_radiation savilahti
# hsy: 2 tiedostoa: buildings, pks_khk_paastot
# karttahel: 1 tiedosto: buildings
# lipasto: 3 tiedostoa 
#├─car_unit_emissions # vain henkilöautot
#├─emissions_by_municipality
#└─mileage_per_engine_type
# osm:
#└─helsinki_bike_lane
#statfi
#└─fuel_classification # 84 rows × 10 columns, co2e_emission_factor, calorific_value
#traficom: 11 tiedostoa:
#├─cars_by_engine_type
#├─tf010_kanta_tau_101
#├─tf020_ensirek_tau_102
#├─vehicle_register_2014q4
#├─vehicle_register_2015q4
#├─vehicle_register_2017q3
#├─vehicle_register_2018q1
#├─vehicle_register_2018q2
#├─vehicle_register_2018q3
#├─vehicle_register_2019q1
#└─...
#ymparistotilastot: 19 tiedostoa koskien Helsinkiä/pääkaupunkiseutua?
#├─e03_energian_kokonaiskulutus
#├─e06_ymparistopenniasiakkaat
#├─e12_helsingin_kaukolammon_sahkonkulutus
#├─e13_helen_vantaa_kaukolammon_sahkonhankinta
#├─e14_helen_ominaispaastot
#├─e15_helen_kaukolampo_jaahdytys
#├─e1_sahkonkulutus
#├─e21_kaup_rakennus_tyypeittain
#├─e23_energian_kuluttajaryhmat_kokonaiskulutus
#├─e25_kl_polttoaineet_pks
#└─...

#tst = load_datasets('jyrjola/lipasto/car_unit_emissions')
#display(tst)
#pd.unique(tst['Engine'])

In [3]:
##### THIS CELL IS NOT USED

##### Get building data from Statistics Finland

#df = pd.read_csv('http://pxnet2.stat.fi/PXWeb/sq/930e8afc-c473-4288-a656-a6d0478ca5d7')

#df = pd.read_csv('http://pxnet2.stat.fi/PXWeb/pxweb/fi/StatFin/StatFin__asu__rakke/statfin_rakke_pxt_116h.px/table/tableViewLayout2/?loadedQueryId=930e8afc-c473-4288-a656-a6d0478ca5d7&timeType=top&timeValue=1&downloadfile=FileTypeCsvWithHeadingAndSemiColon',
#     sep=";", skiprows=2)

#df = pd.read_json('http://pxnet2.stat.fi/PXWeb/pxweb/fi/StatFin/StatFin__asu__rakke/statfin_rakke_pxt_116h.px/table/tableViewLayout2/?loadedQueryId=930e8afc-c473-4288-a656-a6d0478ca5d7&timeType=top&timeValue=1&downloadfile=FileTypeJsonStat')

#df = pd.read_excel('http://pxnet2.stat.fi/PXWeb/pxweb/fi/StatFin/StatFin__asu__rakke/statfin_rakke_pxt_116h.px/table/tableViewLayout2/?loadedQueryId=930e8afc-c473-4288-a656-a6d0478ca5d7&timeType=top&timeValue=1&downloadfile=FileTypeExcelX',
#                  header=True, sheet_name='006_116h_2019')

import os
import csv
import datetime
import urllib.request
import urllib.parse
import urllib.error
import zlib
import time

"""
from pandas_pcaxis.pxweb_api import PXWebAPI
api = PXWebAPI('http://pxnet2.stat.fi/PXWeb', 'fi')
print(api.list_databases())
print(api.list_topics('StatFin/asu/rakke'))
px_file = api.get_table('StatFin/asu/rakke/statfin_rakke_pxt_116g.px')
df = px_file.to_df()

"""
#import px_reader
#px_obj = px_reader.Px('a_px_file_on_filesystem.px')
#pandas_dataframe = px_obj.pd_dataframe()

def download_px(px_objs, target_dir='.', compressed=False, sleep=1, refresh='check'):
    """
    Fetch PC Axis files for given list of Px objects
    Save the files to target directory

    WARNING: Statfin database contains over 2500 PX files with many gigabytes of data.
    """

    refresh_options = ['never', 'check', 'always']
    if refresh not in refresh_options:
        raise ValueError('Invalid value for refresh, must be one of "{}"'.format(
            '", "'.join(refresh_options)))

    if not isinstance(px_objs, list):
        px_objs = [px_objs]

    for px_obj in px_objs:
        url_parts = urllib.parse.urlparse(px_obj.path)
        # url_parts.path starts with '/'
        target_path = os.path.join(target_dir, url_parts.path[1:])
        target_path = os.path.abspath(target_path)

        if refresh != "always" and os.path.exists(target_path):
            if refresh == 'check':
                if is_latest(px_obj.path, target_path):
                    print('File {} is already latest, skipping'.format(target_path))
                    time.sleep(1)
                    continue
            elif refresh == 'never':
                print('File {} already exists, skipping'.format(target_path))
                continue

        print('Downloading file from {} ...'.format(px_obj.path), end=' ')
        try:
            request = urllib.request.Request(px_obj.path)
            if compressed:
                request.add_header('Accept-encoding', 'gzip')
            response = urllib.request.urlopen(request)
        except urllib.error.HTTPError as e:
            print('ERROR:', e)
            print('Response headers:', e.headers)
            time.sleep(sleep)
            continue

        makedirs(target_path)
        try:
            with open(target_path, 'wb') as f:
                data = response.read()
                if compressed:
                    data = zlib.decompress(data, zlib.MAX_WBITS | 16)
                f.write(data)
        except IOError as e:
            print('ERROR:', e)
            time.sleep(sleep)
            continue

        print('done')
        time.sleep(sleep)

#df = download_px('http://pxnet2.stat.fi/PXWeb/pxweb/fi/StatFin/StatFin__asu__rakke/statfin_rakke_pxt_116h.px/')

#import statsfi_px_api
#import px_reader
#px_info = statsfi_px_api.list_available_px(url="http://pxweb2.stat.fi/database/StatFin/StatFin_rap.csv")

In [4]:
### Data from statfi, manually

In [5]:
################ Heating of buildings

## Energy use

def floor_area_of_buildings():
    #'http://pxnet2.stat.fi/PXWeb/pxweb/fi/StatFin/StatFin__asu__rakke/statfin_rakke_pxt_116h.px/table/tableViewLayout2/?downloadfile=FileTypeCsvWithHeadingAndSemiColon'

    df = pd.read_csv('006_116h_2019.csv', skiprows=2, encoding = 'iso8859_10')

    df.columns = ['final_use','municipality','year','total'] + BUILDING
    df = df.drop('total', axis=1)
    df = df[df['final_use'] != 'Yhteensä']
    df = df[df['municipality'] != 'KOKO MAA']
    df['year'] = list(int(x) for x in df['year'])
    
    df.replace({
        'Kauko- tai aluelämpö':'district heating',
        'Öljy, kaasu':'oil heating',
        'Sähkö':'heating electricity',
        'Kivihiili':'coal',
        'Puu, turve':'wood heating',
        'Maalämpö':'geothermal',
        'Muu, tuntematon':'other heating'}, inplace=True)

    df = pd.melt(df, id_vars=['final_use','municipality','year'], var_name='building', value_name='result')

    df = df.set_index(['final_use','municipality','year','building'])

    return df

def fractions_of_energy_classes(): # fraction of buildings belonging to different efficiency groups
    #'http://pxnet2.stat.fi/PXWeb/pxweb/fi/StatFin/StatFin__asu__rakke/statfin_rakke_pxt_116g.px/table/tableViewLayout2/?downloadfile=FileTypeCsvWithHeadingAndComma'
    # http://pxnet2.stat.fi/PXWeb/sq/776add46-5141-4e27-860b-cac210d79c50

    df = pd.read_csv('006_116g_2019.csv', skiprows=2, encoding = 'iso8859_10')

    df.columns = ['built','municipality','year'] + BUILDING
    df = df.merge(pd.DataFrame({
        'built':['- 1920', '1921 - 1939', '1940 - 1959', '1960 - 1969',
       '1970 - 1979', '1980 - 1989', '1990 - 1999', '2000 - 2009',
       '2010 -', 'Tuntematon'],
        'energy_class':['old']*7 + ['new']*2 + ['old']
    }))
    df['year'] = list(int(x) for x in df['year'])
    
    df = pd.melt(df, id_vars=['built','energy_class','municipality','year'], var_name='building', value_name='result')
    df1 = df.groupby(['energy_class','municipality','year','building']).sum()
    df2 = df.groupby(['municipality','year','building']).sum()
    df = df1 / df2

    return df

def energy_consumption_of_buildings():
    # http://en.opasnet.org/w/Energy_use_of_buildings#Energy_efficiency_in_heating
    df = pd.DataFrame({
        'energy_class':ENERGY_CLASS,
        'result':[150,70,35] # kWh/m²/a
    })
    return df.set_index(['energy_class'])

def energy_use_from_heating_of_buildings(
    p1 = municipality(),
    p2 = floor_area_of_buildings(),
    p3 = fractions_of_energy_classes(),
    p4 = energy_consumption_of_buildings()):

    out = (p1 * p2).dropna()
    out = (out * p3).dropna() * p4 * 1E-6 # kWh/a --> GWh/a
    
    out = out.groupby(list(set(out.index.names) - {'energy_class'})).sum()
    return out

def emission_factors_of_energy(p1 = scopes_of_uses()): # kton/GWh # ASSUME NO CHANGE SINCE 2018
    out = pd.read_csv('emission_factors_of_energy_consumption.csv')
    out = out.drop(['emission','energy_use','level5'], axis=1).rename(columns={'emission_factor':'result'})
    out = out.append(out[out['year']==2018].assign(year=2019))
    out = out.set_index(['final_use','year','municipality','emission_trade','gas'])
    out = out * p1
    out = fillna(out, ['municipality'])
    return out

def loss_from_the_grid(): # Loss in the system, given as a ratio to the FINAL energy consumption
    df = pd.DataFrame({
        'final_use':FINAL_USE,
        'scope':'3',
        'result':0.1}) # % # ALSO CONTAINS SYSTEM INEFFICIENCIES (hyötysuhde)
    #BUT THIS DEPENDS ON Production type
    return df.set_index(['final_use','scope'])

def emissions_from_heating_of_stationary_sources(
    p1 = emission_factors_of_energy(),
    p2 = energy_use_from_heating_of_buildings(),
    p3 = loss_from_the_grid()):

    out = (p1 * p2).dropna() # kton

    loss = (out.reset_index('scope').drop('scope',1) * p3).dropna()

    out = pd.concat([out.reset_index(), loss.reset_index()])
    out['year'] = list(None if pd.isnull(x) else int(x) for x in out['year'])
    out= out.groupby(list(set(out.columns) - {'emission_trade','result'})).sum()

    return out

def ghg_emissions_from_heating_of_stationary_sources(
    p1 = emissions_from_heating_of_stationary_sources(),
    p2 = global_warming_potential()):

    out = p1 * p2 * 1E-3 # ton/a --> kton/a (CO2e)
    out = out.groupby(list(set(out.index.names) - {'gas','result'})).sum()

    return out

display(ghg_emissions_from_heating_of_stationary_sources())

                                                                   result
building            scope municipality year final_use
apartment buildings 1     Tampere      2019 oil heating          0.007613
                                            other heating        0.001225
                    2     Tampere      2019 district heating     0.267773
                                            heating electricity  0.001493
                    3     Tampere      2019 district heating     0.026777
...                                                                   ...
transport buildings 2     Tampere      2019 heating electricity  0.000233
                    3     Tampere      2019 district heating     0.000612
                                            heating electricity  0.000023
                                            oil heating          0.000054
                                            other heating        0.002615

[96 rows x 1 columns]

In [6]:
######### Consumer electricity

def specific_electricity_consumption():
    df = pd.DataFrame({
        'building':BUILDING,
        'result':150 # kWh/m²/a
    })
    return df.set_index('building')

def energy_use_from_consumer_electricity(
    p1 = municipality(),
    p2 = floor_area_of_buildings(),
    p3 = specific_electricity_consumption()):
    
    out = (p1 * p2).dropna().reset_index()
    out['final_use'] = 'consumer electricity'
    out = out.groupby(list(set(out.columns) - {'result'})).sum()
    out = out * p3 * 1E-6 # kWh/a --> GWh/a

    return out

def emissions_from_consumer_electricity(
    p1 = energy_use_from_consumer_electricity(),
    p2 = emission_factors_of_energy(),
    p3 = loss_from_the_grid()):

    out = p2.reset_index('emission_trade').drop('emission_trade', axis=1) # always NaN for consumer electricity
    out = (p1 * out).dropna() # ton/a

    loss = (out.reset_index('scope').drop('scope',1) * p3).dropna()

    out = pd.concat([out.reset_index(), loss.reset_index()])#.dropna() # non-electricity final uses dropped
    out['year'] = list(None if pd.isnull(x) else int(x) for x in out['year'])
    out = out.groupby(list(set(out.columns) - {'result'})).sum()
    
    return out

def ghg_emissions_from_consumer_electricity(
    p1 = emissions_from_consumer_electricity(),
    p2 = global_warming_potential()):

    out = (p1 * p2).dropna()  * 1E-3 # ton/a --> kton/a (CO2e)
    out = out.groupby(list(set(out.index.names) - {'gas', 'result'})).sum()

    return out

display(ghg_emissions_from_consumer_electricity())

                                                                       result
building               scope municipality year final_use
apartment buildings    2     Tampere      2019 consumer electricity  0.132467
                       3     Tampere      2019 consumer electricity  0.013247
commercial buildings   2     Tampere      2019 consumer electricity  0.022248
                       3     Tampere      2019 consumer electricity  0.002225
congregation buildings 2     Tampere      2019 consumer electricity  0.007517
                       3     Tampere      2019 consumer electricity  0.000752
detached houses        2     Tampere      2019 consumer electricity  0.047842
                       3     Tampere      2019 consumer electricity  0.004784
educational buildings  2     Tampere      2019 consumer electricity  0.015456
                       3     Tampere      2019 consumer electricity  0.001546
health care buildings  2     Tampere      2019 consumer electricity  0.009781
                       3     Tampere      2019 consumer electricity  0.000978
industrial buildings   2     Tampere      2019 consumer electricity  0.027641
                       3     Tampere      2019 consumer electricity  0.002764
office buildings       2     Tampere      2019 consumer electricity  0.018501
                       3     Tampere      2019 consumer electricity  0.001850
other buildings        2     Tampere      2019 consumer electricity  0.000680
                       3     Tampere      2019 consumer electricity  0.000068
row houses             2     Tampere      2019 consumer electricity  0.023679
                       3     Tampere      2019 consumer electricity  0.002368
storage buildings      2     Tampere      2019 consumer electricity  0.010291
                       3     Tampere      2019 consumer electricity  0.001029
transport buildings    2     Tampere      2019 consumer electricity  0.007952
                       3     Tampere      2019 consumer electricity  0.000795

In [7]:
# Missing stationary sources:

# I.5.X Agriculture, forestry, and fishing activities
# I.6.X Non-specified sources
# I.7.X Fugitive emissions from mining, processing, storage, and transportation of coal
# I.8.X Fugitive emissions from oil and natural gas systems

In [8]:
################# Transport

def transport_activity_of_people():
    df = pd.DataFrame({
        'transboundary':SOURCE,
        'result':[290,50,10] # trips per day
    }).set_index(['transboundary'])
    
    return df

def average_trip_length():
    df = pd.DataFrame({
        'transboundary':SOURCE*len(MODE),
        'mode':np.repeat(MODE, len(SOURCE)),
        'result':5 # km/trip
    }).set_index(['transboundary','mode'])
    
    return df

def modal_share_of_transport():
    df = pd.DataFrame({
        'transboundary':SOURCE*len(MODE),
        'mode':np.repeat(MODE, len(SOURCE)),
        'result':0.1 # fraction
    }).set_index(['transboundary','mode'])
    
    return df

def trip_kilometres_per_person( # NOTE! Energy losses are not considered (yet)
    p1 = transport_activity_of_people(),
    p2 = average_trip_length(),
    p3 = modal_share_of_transport()):
    
    df = p1 * p2 * p3 # km/day
    df = df.groupby(list(set(df.index.names) - {'transboundary'})).sum()
    
    return df

def vehicle_kilometres():
    df = pd.read_csv('lipasto_mileage.csv')
    df = pd.melt(df, id_vars=['municipality','place','mode'], var_name='year', value_name='result')
    df.year = df.year.astype(int)
    df = df.set_index(['municipality','place','mode','year'])
    return df

# http://pxnet2.stat.fi/PXWeb/pxweb/fi/StatFin/StatFin__vrm__vaerak/statfin_vaerak_pxt_11re.px/table/tableViewLayout2/?downloadfile=FileTypeCsvWithHeadingAndComma

def population_size():
    df = pd.read_csv('005_11re_2019.csv', skiprows=2, encoding='iso8859_10')
    df.columns = ['municipality','age','sex'] + [str(x) for x in range(2005,2020)] #[2005:2019]
    df = pd.melt(df, id_vars=['municipality','age','sex'], var_name='year', value_name='result')
    df = df.groupby(['municipality','year']).sum()

    return df

# Energy factors from the same pages as Lipasto emission factors.
def energy_intensity_of_transport_modes():
    df = pd.read_csv("lipasto_energy_factors_kWh_per_km.csv")
    df = df.set_index(['mode','place'])
    return df

def energy_use_from_transportation(
    r1 = municipality(),
    p1 = vehicle_kilometres(),
    p2 = energy_intensity_of_transport_modes()):
    df = (r1 * p1).dropna() * p2
    df = df.groupby(list(set(df.index.names) - {'place'})).sum()
    return df

""" ALTERNATIVE WAY TO CALCULATE ENERGY USE
def energy_intensity_of_transport_modes():
    df = pd.DataFrame({
        'mode':MODE,
        'fuel':['electricity', 'electricity', 'gasoline', 'diesel', 'diesel', 'diesel',
                'electricity', 'electricity', 'electricity','kerosene','light oil','diesel'],
        'result':1 # MJ/km
    }).set_index(['mode','fuel'])
    
    return df

def energy_use_from_transportation( # NOTE! Energy losses are not considered (yet)
    p1 = trip_kilometres_per_person(),
    p2 = population_size(),
    p3 = energy_intensity_of_transport_modes()):
    df = p1 * p2 * p3 * 1E-6 * 365.25 # kWh/d --> GWh/a
    df = df#.groupby(['fuel','mode']).sum()
    
    return df
"""
# Lipasto data from 2016
# http://lipasto.vtt.fi/yksikkopaastot/henkiloliikenne/tieliikenne/henkiloautot/hakeskimaarin.htm
# http://lipasto.vtt.fi/yksikkopaastot/henkiloliikenne/tieliikenne/linja-autot/bussilinjaautokeskimaarin.htm
# http://lipasto.vtt.fi/yksikkopaastot/henkiloliikenne/tieliikenne/muut/kaksipyoraiset.htm
# http://lipasto.vtt.fi/yksikkopaastot/tavaraliikenne/tieliikenne/padiestie.htm FULL LOAD
# http://lipasto.vtt.fi/yksikkopaastot/tavaraliikenne/tieliikenne/padieskatu.htm FULL LOAD
# http://lipasto.vtt.fi/yksikkopaastot/tavaraliikenne/tieliikenne/kapptie.htm FOR TRUCKS FULL LOAD
# http://lipasto.vtt.fi/yksikkopaastot/tavaraliikenne/tieliikenne/kappkatu.htm FOR TRUCKS FULL LOAD

def emission_factors_of_transport_modes():
    df = pd.read_csv("lipasto_emission_factors_g_per_km.csv")
    df = df.set_index(['mode','gas','place'])
    return df

""" ALTERNATIVE STRUCTURE FOR EMISSION FACTORS
def emission_factors_of_transport_modes():
    df = pd.DataFrame({
        'fuel':['electricity', 'gasoline', 'diesel','kerosene','light oil']*len(gas),
        'scope':['2','1','1','1','1']*len(gas),
        'gas':np.repeat(gas,5),
        'result':5 # g/MJ = ton/TJ
    })
    
    return df.set_index(['fuel','scope','gas'])
"""
def emissions_from_transportation( # NOTE! Energy losses are not considered (yet)
    r1 = municipality(),
    p1 = vehicle_kilometres(),
    p2 = emission_factors_of_transport_modes()):
    
    df = (r1 * p1).dropna() * p2 # ton/a
    df = df.groupby(list(set(df.index.names) - {'place'})).sum()
    
    return df

def ghg_emissions_from_transportation(
    p1 = emissions_from_transportation(),
    p2 = global_warming_potential()):
    
    df = p1 * p2 * 1E-3 # ton/a --> kton/a (CO2e)
    df = df.groupby(list(set(df.index.names) - {'gas'})).sum()
    
    return df

display(ghg_emissions_from_transportation())

                           result
mode municipality year
bus  Tampere      2005  22.579118
                  2006  22.685507
                  2007  22.640041
                  2008  23.170917
                  2009  23.378679
...                           ...
van  Tampere      2014  59.577654
                  2015  61.095631
                  2016  62.067057
                  2017  62.619744
                  2018  64.617590

[98 rows x 1 columns]

In [9]:
####### Waste

def amount_of_waste():
    df = pd.DataFrame({
        'treatment':TREATMENT*len(SOURCE),
        'source':np.repeat(SOURCE, len(TREATMENT)),
        'result':1000 # ton/a
    })
    return df.set_index(['treatment','source'])

def emission_factors_of_waste():
    df = pd.DataFrame({
        'treatment':TREATMENT*len(GAS),
        'gas':np.repeat(GAS, len(TREATMENT)),
        'result':10 # kg/ton
    })
    return df.set_index(['treatment','gas'])

def emissions_from_waste(
    p1 = amount_of_waste(),
    p2 = emission_factors_of_waste()):
    
    df = p1 * p2 * 1E-3 # kg/a --> ton/a
    df = df.groupby(['treatment','gas','source']).sum() # redundant because there are currently no more indices
    
    return df

def ghg_emissions_from_waste(
    p1 = emissions_from_waste(),
    p2 = global_warming_potential()):
 
    df = p1 * p2 * 1E-3 # ton/a --> kton/a (CO2e)
    df = df.groupby(['treatment','source']).sum()
    
    return df

display(ghg_emissions_from_waste())

                                result
treatment             source
composting            in - in     3.56
                      in - out    3.56
                      out - in    3.56
digestion             in - in     3.56
                      in - out    3.56
                      out - in    3.56
incineration          in - in     3.56
                      in - out    3.56
                      out - in    3.56
solid waste disposal  in - in     3.56
                      in - out    3.56
                      out - in    3.56
waste water treatment in - in     3.56
                      in - out    3.56
                      out - in    3.56

In [10]:
################## AFOLU

def number_of_farm_animals():
    df = pd.DataFrame({
        'animal':ANIMAL,
        'result':2000 # number
    })
    
    return df.set_index('animal')

def land_area():
    df = pd.DataFrame({
        'landuse':LANDUSE,
        'result':5000 # ha
    })
    
    return df.set_index('landuse')

def emission_factors_of_afolu():
    df = pd.DataFrame({
        'source':['livestock']*len(ANIMAL)+['land']*len(LANDUSE)+['aggregate']*len(LANDUSE),
        'animal':ANIMAL+[None]*len(LANDUSE)*2,
        'landuse':[None]*len(ANIMAL)+LANDUSE*2,
        'gas':['CO2']*(len(ANIMAL)+len(LANDUSE))+['CH4']*len(LANDUSE),
        'result':1 # g/animal/a or g/ha/a
    })
    return df.set_index(['source','animal','landuse','gas'])

def emissions_from_afolu(
    p1 = number_of_farm_animals(),
    p2 = land_area(),
    p3 = emission_factors_of_afolu()):
    
    df = p1 * p3 * 1E-6 # g/a --> ton/a
    df = df.groupby(['source','gas']).sum()
    
    df2 = p2 * p3 * 1E-6 # g/a --> ton/a
    df2 = df2.groupby(['source','gas']).sum()
    
    df = pd.concat([df, df2])   
    
    return df

def ghg_emissions_from_afolu(
    p1 = emissions_from_afolu(),
    p2 = global_warming_potential()):
    
    df = p1 * p2 * 1E-3 # ton/a --> kton/a (CO2e)
    df = df.groupby(['source']).sum()
    
    return df

#display(ghg_emissions_from_afolu())

def why_does_field_appear_in_livestock( ## WTF?!?
    p1 = land_area(),
    p2 = emission_factors_of_afolu()):
    
    df = p1 * p2
    return df

display(emission_factors_of_afolu())
display(land_area())
display(why_does_field_appear_in_livestock())

                                 result
source    animal landuse    gas
livestock cow    NaN        CO2       1
          pig    NaN        CO2       1
          sheep  NaN        CO2       1
land      NaN    forest     CO2       1
                 field      CO2       1
                 turf field CO2       1
                 peatland   CO2       1
aggregate NaN    forest     CH4       1
                 field      CH4       1
                 turf field CH4       1
                 peatland   CH4       1

            result
landuse
forest        5000
field         5000
turf field    5000
peatland      5000

                                 result
source    animal landuse    gas
livestock cow    field      CO2    5000
          pig    field      CO2    5000
          sheep  field      CO2    5000
land      NaN    forest     CO2    5000
                 field      CO2    5000
                 turf field CO2    5000
                 peatland   CO2    5000
aggregate NaN    forest     CH4    5000
                 field      CH4    5000
                 turf field CH4    5000
                 peatland   CH4    5000

In [11]:
############## IPPU

def emissions_from_ippu():
    df = pd.DataFrame({
        'source':['industrial processes','product use']*len(GAS),
        'gas':np.repeat(GAS,2),
        'result':100 # ton/a
    })
    
    return df.set_index(['source','gas'])

def ghg_emissions_from_ippu(
    p1 = emissions_from_ippu(),
    p2 = global_warming_potential()):

    df = p1 * p2 * 1E-3 # ton/a --> kton/a (CO2e)
    
    return df

display(ghg_emissions_from_ippu())

                            result
source               gas
industrial processes CO        0.0
product use          CO        0.0
industrial processes HC        0.0
product use          HC        0.0
industrial processes NOx       0.0
product use          NOx       0.0
industrial processes PM2.5     0.0
product use          PM2.5     0.0
industrial processes CH4       8.6
product use          CH4       8.6
industrial processes N2O      26.8
product use          N2O      26.8
industrial processes SO2       0.0
product use          SO2       0.0
industrial processes CO2       0.1
product use          CO2       0.1
industrial processes CO2e      0.1
product use          CO2e      0.1

In [12]:
##################### Other scope 3

def ghg_emissions_from_other_scope3():
    df = pd.DataFrame({
        'source':['other scope3'],
        'result':20 # kton/a (CO2e)
    })
    
    return df.set_index(['source'])

display(ghg_emissions_from_other_scope3())

              result
source
other scope3      20

In [13]:
##### Total GHG emissions from the municipality using GPC classification (compatible with basic/basic+ classification)
    
def total_ghg_emissions_from_the_municipality( # kton/a (CO2e)
    p1 = ghg_emissions_from_heating_of_stationary_sources(),
    p2 = ghg_emissions_from_consumer_electricity(),
    p3 = ghg_emissions_from_transportation(),
    p4 = ghg_emissions_from_waste(),
    p5 = ghg_emissions_from_ippu(),
    p6 = ghg_emissions_from_afolu(),
    p7 = ghg_emissions_from_other_scope3(),
    c1 = buildings(),
    c2 = gpc()):
    
    indices = ['gpc','municipality','year']
    
    p1 = (pd.concat([p1, p2]) * c1 * pd.DataFrame({
        'scope':['1','2','3']*len(BUILDING_SHORT),
        'building_short':np.repeat(BUILDING_SHORT, 3),
        'gpc':['I.1.1','I.1.2','I.1.3','I.2.1','I.2.2','I.2.3','I.3.1','I.3.2','I.3.3','I.4.1','I.4.2','I.4.3'],
        'result':1
    }).set_index(['scope','building_short','gpc']))
    p1 = p1.dropna().groupby(indices).sum()
    
    p3 = p3 * pd.DataFrame({ # Half of the emission is allocated to starting point and half to destination
        'transboundary':SOURCE,
        'year':2018,  ########
        'result':[1, 0.5, 0.5]
    }).set_index(['transboundary','year'])
    p3 = p3.dropna() * modes() * pd.DataFrame({
        'scope':SCOPE*len(MODE_SHORT),
        'mode_short':np.repeat(MODE_SHORT, len(SCOPE)),
        'gpc':['II.1.1','II.1.2','II.1.3','II.2.1','II.2.2','II.2.3','II.3.1','II.3.2','II.3.3',
               'II.4.1','II.4.2','II.4.3','II.5.1','II.5.2','II.5.3'],
        'result':1
    }).set_index(['scope','mode_short','gpc'])
    p3 = p3.groupby(indices).sum() # kton/a (CO2e)

    p4 = p4 * pd.DataFrame({
        'treatment':np.repeat(TREATMENT, len(SOURCE)),
        'source':SOURCE*len(TREATMENT),
        'gpc':['III.1.1','III.1.2','III.1.3','III.2.1','III.2.2','III.2.3','III.2.1','III.2.2','III.2.3',
               'III.3.1','III.3.2','III.3.3','III.4.1','III.4.2','III.4.3'],
        'municipality':'Kunta', ####
        'year':2019,  ########
        'result':1
    }).set_index(['treatment','source','gpc','municipality','year'])
    p4 = p4.groupby(indices).sum()

    p5 = p5 * pd.DataFrame({
        'source':['industrial processes','product use'],
        'gpc':['IV.1','IV.2'],
        'municipality':'Kunta', ####
        'year':2019,  ########
        'result':1
    }).set_index(['source','gpc','municipality','year'])
    p5 = p5.groupby(indices).sum()

    p6 = p6 * pd.DataFrame({
        'source':['livestock','land','aggregate'],
        'gpc':['V.1','V.2','V.3'],
        'municipality':'Kunta', ####
        'year':2019,  ########
        'result':1
    }).set_index(['source','gpc','municipality','year'])
    p6 = p6.groupby(indices).sum()

    p7 = p7 * pd.DataFrame({
        'source':['other scope3'],
        'gpc':['VI.1'],
        'municipality':'Kunta', ####
        'year':2019,  ########
        'result':1
    }).set_index(['source','gpc','municipality','year'])
    p7 = p7.groupby(indices).sum()

    out = pd.concat([p1, p3, p4, p5, p6, p7])
    
    # Pick the newest observation
    tmp = out.drop('result',axis=1).reset_index().groupby(list(set(out.index.names) - {'year'})).max().astype(int)
    tmp = tmp.set_index('year', append=True).assign(result=1)
    out = (out * tmp).dropna() * c2

    return out

display(total_ghg_emissions_from_the_municipality())

                                                                                    result
gpc     municipality year name                             scope basic
I.1.1   Tampere      2019 residential fuel                 1     basic            0.045762
I.1.2   Tampere      2019 residential grid                 2     basic            0.546112
I.1.3   Tampere      2019 residential losses               3     basic+           0.059187
I.2.1   Tampere      2019 commercial fuel                  1     basic            0.033460
I.2.2   Tampere      2019 commercial grid                  2     basic            0.242032
I.2.3   Tampere      2019 commercial losses                3     basic+           0.027549
I.3.1   Tampere      2019 manufacturing fuel               1     basic            0.027579
I.3.2   Tampere      2019 manufacturing grid               2     basic            0.098691
I.3.3   Tampere      2019 manufacturing losses             3     basic+           0.012627
I.4.1   NaN          NaN  energy industry auxiliary fuel   1     basic                 NaN
I.4.2   NaN          NaN  energy industry auxiliary grid   2     basic                 NaN
I.4.3   NaN          NaN  energy industry auxiliary losses 3     basic+                NaN
I.4.4   NaN          NaN  energy production to grid        1     territorial           NaN
I.5.1   NaN          NaN  agriculture fuel                 1     basic                 NaN
I.5.2   NaN          NaN  agriculture grid                 2     basic                 NaN
I.5.3   NaN          NaN  agriculture losses               3     basic+                NaN
I.6.1   NaN          NaN  non-specified stationary fuel    1     basic                 NaN
I.6.2   NaN          NaN  non-specified stationary grid    2     basic                 NaN
I.6.3   NaN          NaN  non-specified stationary losses  3     basic+                NaN
I.7.1   NaN          NaN  fugitive from coal processing    1     basic                 NaN
I.8.1   NaN          NaN  fugitive from oil processing     1     basic                 NaN
II.1.1  Tampere      2018 road transportation fuel         1     basic         1081.908774
II.1.2  NaN          NaN  road transportation grid         2     basic                 NaN
II.1.3  NaN          NaN  road transportation losses       3     basic+                NaN
II.2.1  NaN          NaN  railways fuel                    1     basic                 NaN
II.2.2  NaN          NaN  railways grid                    2     basic                 NaN
II.2.3  NaN          NaN  railways losses                  3     basic+                NaN
II.3.1  NaN          NaN  shipping fuel                    1     basic                 NaN
II.3.2  NaN          NaN  shipping grid                    2     basic                 NaN
II.3.3  NaN          NaN  shipping losses                  3     basic+                NaN
II.4.1  NaN          NaN  aviation fuel                    1     basic                 NaN
II.4.2  NaN          NaN  aviation grid                    2     basic                 NaN
II.4.3  NaN          NaN  aviation losses                  3     basic+                NaN
II.5.1  NaN          NaN  off-road fuel                    1     basic                 NaN
II.5.2  NaN          NaN  off-road grid                    2     basic                 NaN
III.1.1 Kunta        2019 solid waste own                  1     basic            3.560000
III.1.2 Kunta        2019 solid waste exported             3     basic            3.560000
III.1.3 Kunta        2019 solid waste imported             1     territorial      3.560000
III.2.1 Kunta        2019 biological waste own             1     basic            7.120000
III.2.2 Kunta        2019 biological waste exported        3     basic            7.120000
III.2.3 Kunta        2019 biological waste imported        1     territorial      7.120000
III.3.1 Kunta        2019 waste incineration own           1     basic            3.560000
III.3.2 Kunta        2019 waste incineration exported      3     basic            3.560000
III.3.3 Kunta        2019 waste incineration imported      1     territorial      3.560000
III.4.1 Kunta        2019 wastewater own                   1     basic            3.560000
III.4.2 Kunta        2019 wastewater exported              3     basic            3.560000
III.4.3 Kunta        2019 wastewater imported              1     territorial      3.560000
IV.1    Kunta        2019 industrial processes             1     basic+          35.600000
IV.2    Kunta        2019 product use                      1     basic+          35.600000
V.1     Kunta        2019 livestock                        1     basic+           0.000021
V.2     Kunta        2019 land use                         1     basic+           0.000020
V.3     Kunta        2019 agriculture aggregate            1     basic+           0.001720
VI.1    Kunta        2019 other scope 3                    3     other scope3    20.000000

In [14]:
####### Total energy use and GHG emissions using SECAP reporting

### NOTE! The end result should be more specific to be useful for SECAP

def energy_use_of_the_municipality( # GWh/a
    p1 = energy_use_from_heating_of_buildings(),
    p2 = energy_use_from_consumer_electricity(),
    p3 = energy_use_from_transportation()):
    
    p1 = p1.groupby(list(set(p1.index.names) - {'building'})).sum()
    p2 = p2.groupby(list(set(p2.index.names) - {'building'})).sum()
    p3 = p3 * pd.DataFrame({
        'mode':['bus', 'microcar', 'moped', 'motorcycle', 'private car','private_car', 'truck', 'van'],
        'final_use':['diesel']*2 + ['gasoline']*3 + ['diesel']*3,
        'result':[1,1,1,1,0.59,0.41,1,1] # Fuel distribution from
        # http://lipasto.vtt.fi/yksikkopaastot/henkiloliikenne/tieliikenne/henkiloautot/hakeskimaarin.htm
    }).set_index(['mode','final_use'])
    p3 = p3.groupby(list(set(p3.index.names) - {'mode'})).sum()
    p1['sector'] = 'heating'
    p2['sector'] = 'electricity'
    p3['sector'] = 'transport'
    df = pd.concat([p1, p2, p3]).set_index('sector', append=True)
    
    return df

display(energy_use_of_the_municipality())

                                                         result
final_use            municipality year sector
coal                 Tampere      2019 heating         2.252546
district heating     Tampere      2019 heating      1815.044718
geothermal           Tampere      2019 heating        62.444168
heating electricity  Tampere      2019 heating       230.650595
oil heating          Tampere      2019 heating       234.911451
other heating        Tampere      2019 heating        41.321724
wood heating         Tampere      2019 heating        25.167958
consumer electricity Tampere      2019 electricity  2802.591000
diesel               Tampere      2005 transport     439.164588
                                  2006 transport     446.212954
                                  2007 transport     457.023129
                                  2008 transport     465.846224
                                  2009 transport     453.074484
                                  2010 transport     468.390708
                                  2011 transport     477.047076
                                  2012 transport     479.744781
                                  2013 transport     486.252798
                                  2014 transport     493.641106
                                  2015 transport     506.294731
                                  2016 transport     518.736758
                                  2017 transport     441.860136
                                  2018 transport     457.793540
gasoline             Tampere      2005 transport     410.785654
                                  2006 transport     410.403543
                                  2007 transport     414.268600
                                  2008 transport     406.412041
                                  2009 transport     405.651270
                                  2010 transport     401.691130
                                  2011 transport     397.639697
                                  2012 transport     389.735907
                                  2013 transport     391.576499
                                  2014 transport     394.961013
                                  2015 transport     388.295491
                                  2016 transport     391.612804
                                  2017 transport     385.953265
                                  2018 transport     392.268760

In [15]:
#class MyClass(object): pass

#objs = [MyClass() for i in range(50)]

#display(objs)

class MyClass(object):
    def __init__(self, number):
        self.number = number

my_objects = []

for i in range(100):
    my_objects.append(MyClass(i))

# later

#for obj in my_objects:
#    print(obj)

In [28]:
tmp = globals()
display(tmp.keys())

dict_keys(['__name__', '__doc__', '__package__', '__loader__', '__spec__', '__builtin__', '__builtins__', '_ih', '_oh', '_dh', 'In', 'Out', 'get_ipython', 'exit', 'quit', '_', '__', '___', '_i', '_ii', '_iii', '_i1', 'pd', 'np', 'load_datasets', 'TREATMENT', 'SOURCE', 'BUILDING', 'BUILDING_SHORT', 'buildings', 'FINAL_USE', 'scopes_of_uses', 'ENERGY_CLASS', 'MODE', 'MODE_SHORT', 'modes', 'ANIMAL', 'LANDUSE', 'SCOPE', 'GAS', 'municipality', 'gpc', 'global_warming_potential', 'grupby', 'fillna', '_i2', '_i3', 'os', 'csv', 'datetime', 'urllib', 'zlib', 'time', 'download_px', '_i4', '_i5', 'floor_area_of_buildings', 'fractions_of_energy_classes', 'energy_consumption_of_buildings', 'energy_use_from_heating_of_buildings', 'emission_factors_of_energy', 'loss_from_the_grid', 'emissions_from_heating_of_stationary_sources', 'ghg_emissions_from_heating_of_stationary_sources', '_i6', 'specific_electricity_consumption', 'energy_use_from_consumer_electricity', 'emissions_from_consumer_electricity', 'ghg_emissions_from_consumer_electricity', '_i7', '_i8', 'transport_activity_of_people', 'average_trip_length', 'modal_share_of_transport', 'trip_kilometres_per_person', 'vehicle_kilometres', 'population_size', 'energy_intensity_of_transport_modes', 'energy_use_from_transportation', 'emission_factors_of_transport_modes', 'emissions_from_transportation', 'ghg_emissions_from_transportation', '_i9', 'amount_of_waste', 'emission_factors_of_waste', 'emissions_from_waste', 'ghg_emissions_from_waste', '_i10', 'number_of_farm_animals', 'land_area', 'emission_factors_of_afolu', 'emissions_from_afolu', 'ghg_emissions_from_afolu', 'why_does_field_appear_in_livestock', '_i11', 'emissions_from_ippu', 'ghg_emissions_from_ippu', '_i12', 'ghg_emissions_from_other_scope3', '_i13', 'total_ghg_emissions_from_the_municipality', '_i14', 'energy_use_of_the_municipality', '_i15', 'MyClass', 'my_objects', 'i', '_i16', '_16', '_i17', '_i18', 'tmp', '_i19', '_i20', '_i21', '_21', '_i22', '_i23', '_23', '_i24', '_24', '_i25', '_25', '_i26', '_i27', '_27', '_i28'])